<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-5" style="height: 200px;">
    <label for="limit">Limit</label>
    <!-- <ngb-pagination [collectionSize]="100" [(page)]="limit" (pageChange)="getTableContents($event)" [directionLinks]="false">
      <ng-template ngbPaginationNumber let-p>{{ getLimitSymbol(p) }}</ng-template>

    </ngb-pagination> -->
    <div class="d-flex">
      <button (click)="valueChange(5)">5</button>
      <button (click)="valueChange(10)"> 10</button>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">UserId</th>
          <th scope="col">Name</th>
          <th scope="col">Joining Date</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let iter of item">        
          <td >{{iter.id}}</td>
          <td >{{iter.name}}</td>
          <td >{{iter.createdAt | date}}</td>
          <td >{{iter.username}}</td>
          <td >{{iter.email}}</td>
          <td >{{iter.password}}</td>
        </tr>
    </tbody>
    </table>
    <div class="d-flex justify-content-center">
      
      <ngb-pagination [collectionSize]="pageSize" [(page)]="page" (pageChange)="getTableContents()" [directionLinks]="true  "></ngb-pagination>
    </div>

  </div>
  
</body>
</html>